server:
  port: 8080

spring:
  application:
    name: api-event-pipeline
  datasource:
    url: jdbc:h2:mem:pipeline;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  sql:
    init:
      mode: embedded

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

